version: "3.9"
services:
  front:
    extends:
      file: systems-management-app-front/docker-compose.yaml
      service: front
    depends_on:
      - api
      - database
  database:
    extends:
      file: systems-management-app-back/docker-compose.yaml
      service: database
  api:
    extends:
      file: systems-management-app-back/docker-compose.yaml
      service: api
    depends_on:
      - database
networks:
  kingspan-network:
    driver: bridge
