[*]

root = true # Do not look for other .editorconfig files.
indent_style = space
indent_size = 2
end_of_line = lf
max_line_length = 80
charset = utf-8
trim_trailing_whitespace = true # Do not leave trailing whitespaces.
insert_final_newline = true
