version: "3.8"
services:
  api:
    # container_name: api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3333:3333"
    networks:
      - kingspan-network
    depends_on:
      - database
  database:
    image: mysql:latest
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3307:3306"
    volumes:
      - ./docker/mysql:/var/lib/mysql
    environment:
      MYSQL_DATABASE: dev_database
      MYSQL_ROOT_PASSWORD: 123
    networks:
      - kingspan-network
networks:
  kingspan-network:
    container_name: kingspan-network
    driver: bridge
